body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 3em;
}

select, input {
  font-size: 1em;
}

input {
  text-align: center;
}

#parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.child {
  margin-right: 2em;
  margin-bottom: 2em;
}
